.follow {
    position:relative;
    height:500px;
    overflow: hidden;

    &-container {
        text-align: right;
        height: 100%;

        .follow-links {
            position: absolute;
            right: calc((100% - 1220px)/2);
            bottom:0;
            padding-bottom:40px;
            margin:0 auto;
            text-align: right;
            color:#000b29;
            z-index:2;
            a {
                color:#000b29;
                &:last-child {
                    margin-left: 40px;
                }  
            }
        }
        img {
            width:50%;
            position: absolute;
            right:0;
            bottom: 0;
            text-align: right;
        }
    }
    .plx {
        background-image: url('../../images/plx-footer-exp.png');
        background-repeat: repeat-y;
        transform:translateZ(-1px) scale(1.7);
        height:100vh;
        bottom:20%;
    }
}
