.follow {
    color: #F5F8F2; 
    position: relative;
    &-container {
        height:250px;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    &-background {
        text-align: right;

        .follow-links {
            text-align: center;
            color:#F5F8F2;
            z-index:2;
            a {
                color:#F5F8F2;
                &:last-child {
                    margin-left: 40px;
                }  
            }
        }
    }
}
