.hero {
    color:#F5F8F2;
    position: relative;
    &-text {
        height:300px;
        display:flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 600px) {
            height:600px;

            &.nomain {
                height:250px;
            }
        }
        .background {
            text-align: center;
            color:#F5F8F2;
            width:100%;
            h1 {
                margin:0;
            }
        }
    }
}
