.page-workcase {
  &-width {
    max-width:800px;
    margin:0 auto;
  }
  &-hero {
    position:relative;
    max-width:1240px;
    margin:0 auto;
  }
}

.medium-link {
  display: inline-block;
  text-decoration: none!important;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  margin: auto 0;
  display:flex;
  align-items: center;
  justify-content: center;

  &-container {
    opacity:1;
    text-align: center;
  }

  p {
    margin:0;
    font-family: verveine, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.8rem;
    line-height: 2.3rem;
  }

  span {
    font-size:2.5rem;
    font-weight: 500;
    display: block;
  }
}