.about {
    color:#000b29;

    &-container {
        max-width:800px;
        margin:0 auto;
        padding: 20px;

        @media screen and (min-width: 600px) {
            padding: 40px;
        }
    }
}
