.card {
  position:relative;
  box-shadow: 0 8px 20px rgba(31, 30, 47, 0.12);
  border-radius:4px;
  overflow: hidden;
  cursor: pointer;

  &-container {
    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    h3 {
      padding:0 20px;
    }
  }
  &-description {
    display:flex;
    position:absolute;
    height:100%;
    top:100%;
    border-radius:4px;
    align-items: center;
    background-color: $blue;
    color:#F5F8F2;
    transition: 1s;
    transform: translateZ(0);
    will-change: contents;

    p {
      padding:0 20px;
    }
  }
  &:hover {

    .card-description {
      transition: 1s;
      top:0;
    }
  }
  h3 {
    color:#000b29;
  }
}