.navbar-menu {
    padding: 20px;
    display:flex;
    justify-content: flex-end;

    @media screen and (min-width: 600px) {
        padding: 20px 40px;
    }

    &-item {
        margin-right:40px;
        color:#000b29;
        &.home.active {
            display:none;
        }
        &:last-child{
            margin-right:0;
        }
        @media screen and (min-width: 600px) {
            margin-right:60px;
        }
    }
}
